* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #1e1e1e;
    color: rgb(225, 222, 222);
    font-size: 1.6rem;
}

h1 {
    font-size: 1.6rem;
    color: #0077cc;
}
code,
pre {
    font-size: 1.4rem;
}

.link_regresar {
    font-size: 2rem;
    display: inline-block;
    /* para poder usar margin */
    margin: 10px 0 0 10px ;
    color: orange;
    text-decoration: none; /* quita la linea de abajo*/
}

.contenedor_texto {
    margin: 10px;
    font-size: 1.6rem;
}

details summary {
    display: block;        /* se comporta como bloque normal */
    text-align: center;    /* centra el texto dentro del bloque */
    width: 100%;           /* ocupa todo el ancho del contenedor */
    cursor: pointer;       /* indicador de clickable */
    font-size: 2.2rem;     /* igual que los links */
    line-height: 3.5rem;   /* mismo espaciado */
}

details summary:hover {
    color: #0077cc;        /* hover igual que tus links */
}

.contenedor_temas,
details ul {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    /* centra vertical*/
    align-items: center; 
    /* centra horizontal */  
    margin-top: 30px;

    list-style: none;
    /* Quita los puntitos  */
    font-size: 2.2rem;
    line-height: 3.5rem; 
}

.contenedor_temas a,
details a {
    text-decoration: none;
    /* quita la linea de abajo*/
    color: inherit; 
    /* heredar el color de la letra del body */
}

.contenedor_temas a:hover,
details a:hover {
    color: #0077cc;
}